@import "../../utils/utils.scss";

.bg-black {
    background-color: $color-black;
    color: $color-white;
}
.bg-white {
    background-color: $color-white;
    color: $color-black;
}
.banner {
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    .content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        h1 {
            font-weight: 600;
            font-size: 50px;
        }
        p {
            font-weight: 300;
            font-size: 30px;
        }
        span {
            color: #555;
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;
        }
        .links {
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 50px;
            color: $color-hyperlink;
            margin-top: 15px;
            font-size: 18px;
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .img-container {
        margin-top: 30px;
        .banner-img {
            height: 70%;
            width: 50%;
        }
    }
}
